{{define "homeHTML"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>commitlog Web | Reaper</title>
    <link rel="stylesheet" href="static/styles/styles.css" />
  </head>
  <body>
    {{template "headerHTML" .}}
    <section class="container-boundaries container">
      <main class="flex flex-center flex-col">
        <form class="w-100" action="/generate" method="POST">
          <div class="mb-2">
            <div class="mb-1 text-center">
              <p class="banner">Make sure the repository is public</p>
            </div>
            <input
              name="github-url"
              class="large w-100"
              type="text"
              placeholder="Enter Repository Url"
            />
          </div>
          <div class="flex flex-center">
            <button type="submit">Submit</button>
          </div>
        </form>
      </main>
    </section>
    {{template "footerHTML"}}
  </body>
</html>
{{end}}